/*html, body {*/
    /*height:100%;*/
    /*padding:10px;*/
    /*margin:0;*/
    /*background-color:rgb(240,240,240);*/
    /*font-family:Calibri, Roboto, Sans-Serif;*/
/*}*/

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 5px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.custom-select {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
}

.ttoggle {
    width: 250px;
    height: 32px;
    box-sizing:border-box;
    background-color:white;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
    text-align:center;
    position:relative;
    border-radius:4px;
}

.ttoggle > div {
    color:white;
    display:block;
    position:absolute;
    top:-4px;
    left:-4px;
    bottom:-4px;
    width:calc(33.33% + 8px);
    background-color: rgb(57, 48, 97);
    border-radius:4px;
    /*box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.4);*/
    z-index:1;
    pointer-events:none;
    transition:transform 0.3s;
}

.ttoggle::after {
    content:"";
    display:block;
    clear:both;
}

.ttoggle label {
    float:left;
    width:calc(33.333%);
    /*height: 32px;*/
    position:relative;
    padding: 6px 0px 26px;
    overflow:hidden;
    border-left:solid 1px rgba(0,0,0,0.2);
    transition:color 0.3s;
    cursor:pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.ttoggle label:first-child {
    border-left:none;
}

.ttoggle label input {
    position:absolute;
    top:-200%;
}

.ttoggle label div {
    z-index: 5;
    position: absolute;
    width: 100%;
}

.ttoggle label.selected {
    color:white;
}